
  <body>
    <div class= "container">
      <h1>Your Parcel: </h1>
      <h3>Dimensions: </h3>
      <p>Height: @Model.Height inches</p>
      <p>Width: @Model.Width inches</p>
      <p>Length: @Model.Length inches</p>
      <h3>Cost: $@Model.CostToShip()</h3>
      <br>
      <a href="/">Check another Package</a>
    </div>
  </body>
