<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Assets/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Pascal's Parcels</h1>
      <p>The nation's #1 parcel shipping company!</p>
      <h3>Enter your parcel dimensions below:</h3>
      <form action="/cost" method="post">
        <label for="height">Height in inches: </label>
        <input type="text" name="height", id= "height">
        <br>
        <label for="width">Width in inches: </label>
        <input type="text" name="width", id= "width">
        <br>
        <label for="length">Length in inches: </label>
        <input type="text" name="length", id= "length">
        <button type="submit">Check Cost</button>
      </form>
    </div>
  </body>
</html>